master/Master/Debug/
master/Master/Master/Debug/
private/
*.sdf
*.opensdf
*.exe
*.dll
MasterBluetoothBridge/*.cache
MasterBluetoothBridge/*.BAT
MasterBluetoothBridge/*.inf
MasterBluetoothBridge/*.mk
MasterBluetoothBridge/*.loc
MasterBluetoothBridge/*.rss
MasterBluetoothBridge/*.sis
MasterBluetoothBridge/*.mmp
MasterBluetoothBridge/*.pkg
MasterBluetoothBridge/moc/
MasterBluetoothBridge/obj/
MasterBluetoothBridge/tmp/
MasterBluetoothBridge/ui/