<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.4.4.min", "rails", "highcharts"%>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="header">
		<h1>Verwaltung dynamischer Netzwerke</h1>
		<div id="user_bar">
		</div>
	</div>
	
	<div id="main">
		<%= yield %>
	</div>
	
	<div id="footer">
		<p>
			Copyright &copy; <a href="mailto:alex.prennsberger@gmail.com">Alexander Prennsberger</a> &amp; <a href="mailto:steinbrecherluk@gmail.com">Lukas Steinbrecher</a> 2011
		</p>
	</div>

</body>
</html>
